.productCard {
  padding: 5px;
  height: 530px;
  min-width: 235px;
  box-shadow: 0px 2px 4px 2px darkgray;
}

.productImage {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.productImage img {
  width: 100%;
  height: auto;
  max-height: 300px;
}

.productTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: darkblue;
  height: 50px;
}

.productCategory {
  font-size: 18px;
  margin: 0;
  color: chocolate;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 18px;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.infoBtn {
  font-size: 30px;
  cursor: pointer;
  color: darkgreen;
}

.numOfItems {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 1px transparent;
  border-radius: 50px;
  padding: 5px;
  background-color: #f1f1f1;
}

.addBtn {
  font-size: 30px;
  cursor: pointer;
  color: red;
}

.minusBtn {
  font-size: 30px;
  cursor: pointer;
  color: darkblue;
}

.number {
  font-size: 18px;
  font-weight: 500;
}

.rateText {
  font-weight: 500;
  color: darkblue;
}

.priceText {
  font-weight: 500;
  color: darkblue;
}

.rate {
  display: flex;
  gap: 5px;
}

.starIcon {
  color: orange;
}

.noProducts p{
  font-size: 42px;
  font-weight: 500;
  color: darkblue;
  text-shadow: 2px 2px 5px red;
}
