<div *ngFor="let product of products">
  <mat-card class="productCard" appearance="outlined">
    <div class="productImage">
      <img mat-card-image src="{{product.image}}">
    </div>
    <mat-card-content>
      <p class="productTitle">{{product.title | slice:0:20}}</p>
      <p class="productCategory">{{product.category}}</p>
    </mat-card-content>
    <div class="productDetails">
      <div class="rate">
        <fa-icon [icon]="faStar" class="starIcon"></fa-icon>
        <span class="rateText">{{product.rating.rate}}</span>
      </div>
      <div class="price">
        <span class="priceText">{{product.price | currency}}</span>
      </div>
    </div>
    <mat-card-actions class="cardButtons">
      <fa-icon [icon]="faCircleInfo" class="infoBtn" routerLink="/products/{{product.id}}"></fa-icon>
      <div class="numOfItems" *ngIf="getQuantity(product)>0; else notInCart">
        <fa-icon [icon]="faCirclePlus" class="addBtn" (click)="addToCart(product)"></fa-icon>
        <span class="number">{{getQuantity(product)}}</span>
        <fa-icon [icon]="faCircleMinus" class="minusBtn"></fa-icon>
      </div>
      <ng-template #notInCart>
        <fa-icon [icon]="faCirclePlus" class="addBtn" (click)="addToCart(product)"></fa-icon>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>