<div *ngIf="cartItems.length > 0; else noCartItems">
  <div class="items">
    <div class="header">
      <h2>You have {{totalQuantity}} items in your cart for {{cartItems.length}} products!</h2>
    </div>
    <div *ngFor="let item of cartItems" class="itemCard">
      <img src="{{item.image}}" alt="">
      <p class="title">{{item.title.split(' ')[0]}}</p>
      <p class="price">{{item.price * (item.quantity || 1) | currency}}</p>
      <div class="numOfItems">
        <fa-icon [icon]="faCirclePlus" class="addBtn" (click)="addToCart(item)"></fa-icon>
        <span class="number">{{item.quantity}}</span>
        <fa-icon [icon]="faCircleMinus" class="minusBtn" (click)="removeFromCart(item)"></fa-icon>
      </div>
      <fa-icon [icon]="faTrash" class="trashBtn" (click)="removeAllProduct(item)"></fa-icon>
    </div>
  </div>

  <div class="totalInfo">
    <h2>Total Info:</h2>
    <div class="itemCard">
      <h3 class="totalPrice">
        <span class="priceText">Total Price:</span>
        <span class="priceNum">{{totalPrice | currency}}</span>
      </h3>
      <h3 class="totalItems">
        <span class="itemsText">Total Items:</span>
        <span class="itemsNum">{{totalQuantity}}</span>
      </h3>
    </div>
    <div class="checkout-btn">
      <button>Checkout</button>
    </div>
  </div>
</div>

<ng-template #noCartItems>
  <div class="no-items">
    <h1>You don't have items in your cart!</h1>
    <button routerLink="/">Go To Home Page</button>
  </div>
</ng-template>
