<mat-toolbar class="navbar">
  <div class="storeMenu">
    <button (click)="toggleSidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="logo">Store</a>
  </div>
  <ul>
    <li><a class="language">{{isLang ? 'Eng' : 'Ar'}}</a></li>
    <li>
      <button mat-button [matMenuTriggerFor]="menu" class="profile-button">{{username[0] | uppercase}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
    </li>
  </ul>
</mat-toolbar>