.navbar {
  background: darkcyan;
  color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0 8px 3px #888888;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 16px;

  @media screen and (max-width: 300px) {
    padding: 0 8px;
  }
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 20px;
}

.storeMenu {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px red;
}

.profile-button {
  width: fit-content;
  font-size: 18px;
  margin: 0;
  border: solid 1px;
  background: white;
  color: darkcyan !important;
  border-radius: 50px;
  height: 30px;
  min-width: 30px;
}

.language {
  text-decoration: none;
  color: white;
}

.badge{
  cursor: pointer;
}